<section class="seccion__faq">
    <h2 class="titulos-h2" id="faq"><strong>FAQ</strong></h2>
    <details>
      <summary>1. ¿La aplicación es gratuita?</summary>
      <div>
        <p>
          La aplicación es totalmente gratuita, no tiene ningún tipo de costo.
        </p>
      </div>
    </details>
    <details>
      <summary>2. ¿Es necesario tener algún conocimiento previo para utilizarla?</summary>
      <div>
        <p>
          Si bien la aplicación es muy intuitiva, podrá hacer un adecuado uso de la misma 
          si sigue los pasos del tutorial adjunto.
        </p>
      </div>
    </details>
    <details>
      <summary>3. ¿AnalizAr vende medidores eléctricos inteligentes?</summary>
      <div>
        <p>
          Si, aunque no es obligatorio hacerlo. No obstante nuestros equipos cuentan
          con garantía escrita por 12 meses ante cualquier desperfecto que pudiera ocurrir.
          Consulte con nuestros agentes comerciales por mayor información.
        </p>
      </div>
    </details>
    <details>
      <summary>4. Aquí iría otra consulta recurrente.</summary>
      <div>
        <p>
          Aquí se detalla la respuesta a la consulta 4.
        </p>
      </div>
    </details>
    <details>
      <summary>5. Y aquí también iría una consulta recurrente.</summary>
      <div>
        <p>
          Aquí se detalla la respuesta a la consulta 5.
        </p>
      </div>
    </details>
  </section>