<section class="sectionMain">
    <!-- Sección superior de la página -->
      <!-- Segundo bloque -->
      <h2 class="titulos-h2" id="servicios"><strong>SERVICIOS</strong></h2>
      
      <div class="contenedor-servicios">
        <div class="contenedor-imagen">
          <img src="../assets/img/fondo2b.png" alt="imagen de usuario analizando informes de la app" title="Informes AnalizAr" id="imagen-servicios" onmouseover="cambiarImagenServicios()" onmouseout="restaurarImagenServicios()"/>
        </div>
        <div class="contenedor-tabla">          
          <div class="contenedor-item1">
            <h3 class="titulos-h3">Nuestra aplicación te permitirá tener al alcance de tu mano 
            toda la información necesaria sobre el consumo eléctrico, ¡desde cualquier dispositivo!</h3>
          </div>
          <div class="contenedor-item contenedor-item2">            
            <p style="text-align: center;">Nivel de Consumo Diario</p>
          </div>
          <div class="contenedor-item contenedor-item3">            
            <p style="text-align: center">Nivel de Consumo Mensual</p>
          </div>
          <div class="contenedor-item contenedor-item4">            
            <p style="text-align: center">Costo Estimado</p>
          </div>
          <div class="contenedor-item contenedor-item5">            
            <p style="text-align: center">Historial de Consumo</p>
          </div>
          <div class="contenedor-item contenedor-item6">            
            <p style="text-align: center">Configuración de Alertas</p>
          </div>
        </div>
      </div>
           
      <!-- Sección media de la página -->
      <!-- Tercer bloque -->
      <div class="contenedor-comentarios">
        <div class="contenedor-tarjetas">
          <div class="contenedor-textos">
            <h3 style="text-align: center"><strong>@juli23</strong></h3>
            <p style="text-align: center">"Gracias a esta app pude ahorrarme unos cuantos centavos al mes"</p>
          </div>
        </div>

        <div class="contenedor-tarjetas">
          <div class="contenedor-textos">
            <h3 style="text-align: center"><strong>@carlosAG</strong></h3>
            <p style="text-align: center">"Desde que empecé a utilizar AnalizAr logré tomar conciencia de la luz que consumo"</p>
          </div>
        </div>

        <div class="contenedor-tarjetas">
          <div class="contenedor-textos">
            <h3 style="text-align: center">@gaby9</h3>
            <p style="text-align: center">"Gracias a las alertas que me llegan desde AnalizAr puedo controlar mi consumo de luz"</p>
          </div>
        </div>
      </div>     
</section>

