<!-- Primer bloque -->
    <div class="contenedor-superior">
        <div class="contenedor-superior-item1">
        <h1 class="titulos-h1" id="titulo-principal" onmousemove="cambiarTitulo()" onmouseout="restaurarTitulo()"><strong>Controlar el consumo
        eléctrico nunca fue tan fácil</strong></h1>        
        <h3><strong class="titulos-h3">AnalizAr te permitirá conocer tu nivel de consumo de
            luz, permitiéndote estimar el costo mensual,
            comparar con otros meses y ¡mucho más!</strong></h3>
        </div>
        <div class="contenedor-superior-item2">
        <img src="../assets/img/fondo1b.png" alt="imagen de la aplicacion en movil" title="Personas usando Analizar" id="imagen-principal" onmouseover="cambiarImagen()" onmouseout="restaurarImagen()"/>
        </div>
    </div>